<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServiceUrl</key>
	<string></string>
	<key>appID</key>
	<string>1093390037</string>
	<key>appName</key>
	<string>My lessons</string>
	<key>appNameCN</key>
	<string>我的课表</string>
	<key>helpUrl</key>
	<string></string>
</dict>
</plist>
